.characterEditor {
  padding-top: 128px;
  padding-bottom: 64px;
}

.maxWidthWrapper {
  position: relative;
}

.header {
  padding-bottom: 64px;
  width: 65%;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
}

.description {
  font-size: 1.25rem;
  margin: 0;
}

.characterWrapper {
  position: fixed;
  min-height: 500px;
  left: 65%;
  top: 20%;
  bottom: 10%;
}

.controlColumn {
  width: 50%;
}

.perspectiveBar {
  background: linear-gradient(to bottom,
      hsl(195deg, 20%, 86%),
      hsl(195deg, 20%, 92%));
  border-top: 2px solid hsl(195deg, 20%, 80%);
  position: fixed;
  inset: 0;
  top: 60%;
  z-index: -1;
  pointer-events: none;
}